<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <title>PhotoBase</title>

    <link  rel="stylesheet" href="/styles/main.css"/>
  </head>

  <body>
    <div class="container">
      <%- include('common/header'); -%>

      <main>
          <div class="content">
            <br />
            <h1>Well, this is embarressing...</h1>

            <p>Something went wrong, and we <%= error.message %> at this time.</p>

        </div>

      </main>
    </div>
  </body>
</html>
