<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <title>PhotoBase</title>

    <link  rel="stylesheet" href="/styles/main.css"/>
  </head>

  <body>
    <div class="container">
      <%- include('common/header'); -%>

      <main>
        <div class="content">
          <h1>Already a member?</h1>

          <p>Enter your details below to access all your photos.</p>
          <div class="form-container">
            <form method="POST" action="/login" id="frm-login">
                
              <div class="form-group">
                <input
                  type="email"
                  class="form-control"
                  id="email"
                  name="email"
                  placeholder="Email"
                />
                <p class="error-txt-secondary" id="email-error"></p>
              </div>

              <div class="form-group">
                <input 
                  type="password" 
                  class="form-control" 
                  name="password"
                  placeholder="Password"
                />
                <p class="error-txt-secondary" id="password-error"></p>
              </div>
                
              <button type="submit" class="btn-primary">Submit</button>

            </form>

            <% if (errors) { %>
              <p class="error-txt-primary"><%= errors.message %></p>
            <% } %>

          </div>

          <p>Not yet a member? Click <a href="/register">here</a> to register.</p>

        </div>
      </main>
      
    </div>
    <script src="/scripts/form-validation-login.js"> </script>  
  </body>
</html>
