<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <title>PhotoBase</title>

    <link  rel="stylesheet" href="/styles/photo-popout.css"/>
  </head>

    <body>
        <main>
                <% if (photo) { %>
                    <div id="display-outer-container">
                    <div id="display-container">
                        <img src="<%= photo.image_url %>" />
                    </div>
                </div>
                <% } %> 

            </main>

    </body>
</html>